@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

body {
  font-family: 'Dosis', sans-serif;
  font-weight: 300;
  line-height: 1.42em;
  color:#A7A1AE;
/*  background-color:#1F2739;*/
}

p2 {
  font-size:1em;
  text-align: center;
}

h1 {
  font-size:3em; 
  font-weight: 300;
  line-height:1em;
  text-align: center;
  color: #70a9a1;
}


h3 {
  font-size:2em;
  font-weight: 300;
  line-height:1em;
  text-align: center;
  color: #1f363d;
}

h4 {
  font-size:1em;
  font-weight: 300;
  line-height:1em;
  text-align: center;
  color: #9ec1a3;
}

h2 {
  font-size:1em; 
  font-weight: 300;
  text-align: center;
  display: block;
  line-height:1em;
  padding-bottom: 2em;
  color: #1f363d;
}

h2 a {
  font-weight: 700;
  text-transform: uppercase;
  color: #1f363d;
  text-decoration: none;
}

.container {
	  text-align: left;
	  overflow: hidden;
	  width: 80%;
	  /*margin: 0 auto;*/
  display: table;
  padding: 0 0 0 0;
}

input:not([type="text"]):not([type="submit"]) {
  display: none;
  visibility: hidden;
}

label {
  display: block;
  padding: 0.5em;
}

label::before {
  font-family: Consolas, monaco, monospace;
  font-weight: bold;
  font-size: 15px;
  vertical-align: text-top;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 3px;
}
.expand {
  /*height: 0px;*/
  /*max-height: 200px;*/
  display: none;
  overflow: hidden;
  transition:max-height 0.5s;
}

.toggle:checked ~ .expand {
  /*height: 200px;*/
  /*max-height: 200px;*/
  display:block;
  overflow:auto;
}

.toggle ~ label::before {
  content: "+";
}

.toggle:checked ~ label::before {
  content: "-";
}

@media (min-width: 576px)
.jumbotron {
    padding: 2rem 1rem;
}

.jumbotron {
    padding: 2rem 1rem;
    background-color: #cfe0c3;
}

.data-form {
    display: table;
    margin: 0 25%;
    width: 80%;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

.btn-primary {
    color: #fff;
    background-color: #40798c;
    border-color: #40798c;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #1F363D;
    border-color: #40798c;
}

btn-group-justified {
    margin: 0 25%;
}

footer {
    background-color: #cfe0c3;
}